<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200866747654-q7g6cddh0ndvu47gp9bi98v663rqt0aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200866747654-q7g6cddh0ndvu47gp9bi98v663rqt0aq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>200866747654-18pjjuaks4kdmv6p24nuj4pqpgo1jlic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCROTcwJdCt6IfU4BgIP84LmJHgUlDW7Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>200866747654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>billapp-bea2d</string>
	<key>STORAGE_BUCKET</key>
	<string>billapp-bea2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200866747654:ios:9ea62b3cdae09b37b83a87</string>
</dict>
</plist>